.input-area {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px;
}

.display-area {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  height: calc(100vh - 180px);

  > div {
    width: 30%;
    padding: 8px;
    height: inherit;
    display: flex;
    flex-direction: column;
  }

  .scrollable-content {
    overflow-y: auto;
    flex-grow: 1;
    margin-top: 16px;
  }

  > app-map-display {
    width: 70%;
    height: inherit;
  }
}

.display-area[hidden] {
  display: none;
}

.container {
  padding: 24px;
}

app-place-autocomplete {
  width: 300px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: flex-start; /* Align content to the top */
  padding: 15px;
  box-sizing: border-box;
}

.logo-container img {
  width: 200px;
  height: auto;
}

.space-after {
  margin-right: 5px; /* Adjust this value as needed */
}
