.input-area {
  display: flex;
  gap: 10px;
  align-items: center;
}

.display-area {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  height: calc(100vh - 180px);

  > div {
    width: 30%;
    padding: 8px;
    height: inherit;
    display: flex;
    flex-direction: column;
  }

  .scrollable-content {
    overflow-y: auto;
    flex-grow: 1;
    margin-top: 16px;
  }

  > app-map-display {
    width: 70%;
    height: inherit;
  }
}

.display-area[hidden] {
  display: none;
}

.container {
  padding: 24px;
}

app-place-autocomplete {
  width: 300px;
}
