<div class="container">
  <div class="display-area">
    <div class="scrollable-content cdkScrollable">
      <div class="logo-container">
        <img [src]="'assets/RouteMaster_LOGO_NoBuffer.png'" alt="RouteMaster logo">
      </div>
      <div>
        <div class="input-area">
          <h2>Travel destinations:</h2>
          <button mat-raised-button color="primary" (click)="addPlaceAutocomplete()">+</button>
          <button mat-raised-button color="warn" (click)="removeLastPlaceAutocomplete()" [disabled]="places.length <= 2">-</button>
          <button mat-raised-button color="primary" (click)="optimizeRoute()" [disabled]="places.length <= 2">Optimize</button>
        </div>

        <ng-container *ngFor="let place of places; let i = index">
          <div *ngIf="i < places.length - 1; else endLabel">
            {{ i + 1 }}.
            <app-place-autocomplete
              (placeChanged)="onPlaceChanged($event, i)"
              [place]="places[i]"
              [placeholder]="'Enter address ' + (i + 1) + '...'"
              [index]="i"
            ></app-place-autocomplete>
          </div>
        </ng-container>

        <ng-template #endLabel>
          <div>
            {{ places.length }}.
            <app-place-autocomplete
              (placeChanged)="onPlaceChanged($event, places.length)"
              [place]="places[0]"
              [placeholder]="'Enter address ' + (places.length) + '...'"
              [index]="places.length"
              [readOnly]="true"
            ></app-place-autocomplete>
          </div>
        </ng-template>
      </div>
    </div>

    <app-map-display #mapDisplay [places]="places"></app-map-display>

  </div>
</div>
