<div class="container">
  <div class="display-area">
    <div>
      <div class="input-area">
        <h2>Travel destinations:</h2>
        <button mat-raised-button color="primary" (click)="addPlaceAutocomplete()">+</button>
        <button mat-raised-button color="warn" (click)="removeLastPlaceAutocomplete()" [disabled]="places.length <= 2">-</button>
        <button mat-raised-button color="primary" (click)="optimizeRoute()" [disabled]="places.length <= 2">optimize</button>
      </div>
      <ng-container *ngFor="let place of places; let i = index">
        <div> {{i + 1}}.
          <app-place-autocomplete
            (placeChanged)="onPlaceChanged($event, i)"
            [place]="places[i]"
            [placeholder]="'Enter address ' + (i + 1) + '...'"
            [index]="i"
          ></app-place-autocomplete>
        </div>
      </ng-container>
    </div>
    <!--<div>
      <app-place-card *ngFor="let place of places" [data]="place"></app-place-card>
    </div>-->
    <app-map-display
      [places]="places"
    ></app-map-display>
  </div>
</div>
