.container {
  display: flex;
  flex-direction: column; /* Stack logo and form vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  height: 100vh; /* Full viewport height */
  padding: 20px 20px 0 20px; /* Add padding to prevent content from touching the edges, and reduce bottom padding */
  box-sizing: border-box; /* Ensure padding is included in the total height/width */
}

.logo-container {
  margin-bottom: 20px; /* Adjust the spacing between the logo and form */
}

.logo-container img {
  width: 400px; /* Adjusted width of the logo */
  height: auto; /* Maintain aspect ratio */
}

.login-form {
  width: 100%; /* Full width */
  max-width: 300px; /* Maximum width of the form */
  margin: 0 auto; /* Center form */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.form-group {
  margin-bottom: 20px; /* Spacing between form fields */
}

.form-actions {
  text-align: center;
}

mat-form-field {
  width: 100%;
}
