<mat-card class="map-settings-card">
  <h2>Map Settings</h2>

  <div class="settings-option">
    <div>
      <h3>Mode of transportation:
      <mat-radio-group
        [(ngModel)]="selectedTravelMode"
        (ngModelChange)="onSelectedTravelModeChange()">
        <mat-radio-button value="DRIVING">Car</mat-radio-button>
        <mat-radio-button value="BICYCLING">Bicycle</mat-radio-button>
        <mat-radio-button value="TRANSIT">Public transport</mat-radio-button>
        <mat-radio-button value="WALKING">Walking</mat-radio-button>
      </mat-radio-group></h3>
    </div>
    <div>
      <h3>Travel start time:
      <p-calendar
        [(ngModel)]="date"
        (onClose)="onSelectedDepartureTimeChange()"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [showTime]="true"
        [readonlyInput]="true"></p-calendar></h3>
    </div>
  </div>
</mat-card>
